@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@400;500;600;700&family=Overpass+Mono:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;

  background: radial-gradient(
    ellipse,
    rgba(44, 112, 42, 1) 0%,
    rgba(44, 112, 42, 1) 50%,
    rgba(22, 52, 22, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Montserrat";
  color: #fbdd11;
}

.CountdownContainer {
  height: 60%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BananoContainer {
  height: 40%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #143514;
}

.Header {
  font-size: 60px;
  font-weight: 500;
  font-family: "Montserrat";
}

.Date {
  font-size: 23px;
  font-weight: 500;
  color: #d3bb1c;
}

.Countdown {
  margin-top: 32px;

  font-size: 90px;
  font-weight: 700;

  border-radius: 0.4em;
  border: 5px solid #fbdd11;
  padding: 0 25px;

  font-variant-numeric: tabular-nums;
  font-family: "Inter";
}

.Address {
  font-weight: 600;
  font-size: 20px;
}

.WaveDivider {
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.WaveDivider svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 53px;
}

.WaveDivider .shape-fill {
  fill: #143514;
}
